
.row{
    max-width: 1070px;
    width:100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}

.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

.selected__book {
    display: flex;
    justify-content: space-between;
    width: calc((100% / 3) * 2);
    background-color: #fbefd6;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
    color: inherit;
    text-decoration: none;
}

.selected__book--line {
    width: 1px;
    background-color: #bac8ce;
}

.selected__book--content {
    display: flex;
    gap: 16px;
    width: 80%;
}

.book__image {
    width: 100%;
    height: 100%;
}

.book__image--wrapper-selected {
    height: 140px;
    width: 140px;
    min-width: 140px;
}

.selected__book--text {
    width: 100%;
}

.selected__book--title {
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.selected__book--author {
    font-size: 14px;
    color: #394547;
    margin-bottom: 16px;
}

.selected__book--duration-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.selected__book--icon-wrapper {
    display: flex;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.selected__book--icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

.selected__book--duration {
    font-size: 14px;
    font-weight: 500;
    color: #032b41;
}


.for-you__recommended--books {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x;
    margin-bottom: 32px;
}

.for-you__recommended--books-link {
    position: relative;
    scroll-snap-align: start;
    padding: 32px 12px 12px;
    text-decoration: none;
    border-radius: 4px;
    max-width: 200px;
    width: 100%;
}

.for-you__recommended--books-link:hover{
    background-color: #f7faf9
}

.book__image--wrapper {
    width: 172px;
    height: 172px;
    margin-bottom: 8px;
}

.recommended__book--title {
    font-size: 16px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 8px;
}

.recommended__book--author {
    font-size: 14px;
    color: #6b757b;
    font-weight: 300;
    margin-bottom: 8px;
}

.recommended__book--sub-title {
    font-size: 14px;
    color: #394547;
    margin-bottom: 8px;
}

.recommended__book--details-wrapper {
    display: flex;
    gap: 8px;
}

.recommended__book--details {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
}

.recommended__book--details-icon-wrapper {
    display: flex;
    width: 16px;
    height: 16px;
}

.recommended__book--details-icon {
    width: 100%;
    height: 100%;
}

.book__pill {
    background-color: #032b41;
    width: -moz-fit-content;
    width: fit-content;
    height: 18px;
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}