.row{
    max-width: 1070px;
    width:100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}

.section__title.page__title {
    text-align: left;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 16px;
}

.section__title {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.settings__login--wrapper {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.settings__login--wrapper img {
    width: 100%;
    height: 100%;
}

.settings__login--text {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    text-align: center;
    margin-bottom: 16px;
}

.btn.settings__login--btn {
    width: 100px;
}

.btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

.setting__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e1e7ea;
    padding-bottom: 24px;
}

.settings__sub--title {
    font-size: 18px;
    font-weight: 700;
    color: #032b41;
}

.settings__text {
    color: #032b41;
}

.btn.settings__upgrade--btn {
    width: fit-content;
}

.setting__content:last-child {
    margin-bottom: 0;
    border-bottom: none;
}