.row{
    max-width: 1070px;
    width:100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}

.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% { opacity: 1; };
    50% { opacity: 0.4; };    
    100% { opacity: 1; };
}
