.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}

.sidebar__logo img {
    width: 100%;
    height: 40px;
}

.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar__wrapper--player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        height: calc(-140px + 100vh);
    padding-bottom: 20px;
    overflow-y: auto;
}

.sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}

.sidebar__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar__top .sidebar__link--wrapper:first-child:hover,
.sidebar__top .sidebar__link--wrapper:nth-child(2):hover,
.sidebar__bottom .sidebar__link--wrapper:first-child:hover,
.sidebar__bottom .sidebar__link--wrapper:last-child:hover {
    background-color: #d6d9d888;
}
.sidebar__link--line {
    width: 5px;
    height: 100%;
    background-color: transparent;
    margin-right: 16px;
}

.active--tab {
    background-color: #2bd97c;
}

.sidebar__icon--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.sidebar__icon {
    width: 24px;
    height: 24px;
}

.sidebar__link--not-allowed {
    cursor: not-allowed;
}

.sidebar__link--wrapper:last-child {
    margin-bottom: 0;
}

.sidebar__font--size-icon--active {
    border-bottom: 3px solid #2bd97c;
}

.sidebar__font--size-wrapper {
    display: flex;
    margin-left: 24px;
    gap: 8px;
}

.sidebar__font--size-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.sidebar__font--size-icon-small {
    width: 20px;
    height: 20px;
}

.sidebar__font--size-icon-medium {
    width: 24px;
    height: 24px;
}

.sidebar__font--size-icon-large {
    width: 28px;
    height: 28px;
}

.sidebar__font--size-icon-xlarge {
    width: 32px;
    height: 32px;
}

.sidebar__font--size-icon--active {
    border-bottom: 3px solid #2bd97c;
}