.plan{
    width: 100%;
}

.plan__header--wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 48px;
    margin-bottom: 24px;
}

.plan__header--wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #032b41;
    border-bottom-right-radius: 16rem;
    border-bottom-left-radius: 16rem;
}

.plan__header {
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
    padding: 0 24px;
}

.plan__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.plan__sub--title {
    font-size: 20px;
    margin-bottom: 32px;
}

.plan__img--mask {
    display: flex;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 180px 180px 0 0;
    overflow: hidden;
}

.plan__img--mask img {
    width: 100%;
    height: 100%;
}

.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}

.footer__top--wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 32px auto 64px;
}

.plan__features--wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    grid-gap: 24px;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto 56px;
}

.plan__features--icon {
    display: flex;
    justify-content: center;
    color: #032b41;
    margin-bottom: 12px;
}

.plan__features--text {
    color: #394547;
    line-height: 1.5;
}

.section__title {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.plan__card--active {
    border: 4px solid #2be080;
}

.plan__card {
    display: flex;
    gap: 24px;
    padding: 24px;
    background-color: #f1f6f4;
    border: 4px solid #bac8ce;
    border-radius: 4px;
    cursor: pointer;
    max-width: 680px;
    margin: 0 auto;
}

.plan__card--circle {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__card--dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

.plan__card--title {
    font-size: 18px;
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.plan__card--price {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 8px;
}

.plan__card--text {
    color: #6b757b;
    font-size: 14px;
}

.plan__card--separator {
    font-size: 14px;
    color: #6b757b;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 240px;
    margin: 24px auto;
}

.plan__card--active {
    border: 4px solid #2be080;
}

.plan__card--separator:after, .plan__card--separator:before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
}


.plan__card--cta {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.btn--wrapper{
    width:300px;
}
.btn {
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

.plan__disclaimer {
    font-size: 12px;
    color: #6b757b;
    text-align: center;
}

.accordion__card {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    overflow: hidden;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 0;
    gap: 8px;
}

.accordion__title {
    font-weight: 500;
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
    color: #032b41;
    transition: .3s;
}

.accordion__icon--rotate {
    transform: rotate(180deg);
}

.accordion__icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    transition: transform .3s;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}

.show {
    height: 96px;
}

.accordion__body {
    min-height: 1px;
    padding-bottom: 24px;
    color: #394547;
    line-height: 1.5;
}

