.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}

.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

.for-you__sub--title {
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
}

.finished__books--block-wrapper {
    background-color: #f1f6f4;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 32px;
    border-radius: 12px;
    margin: 0 auto 56px;
    text-align: center;
}

.finished__books--title {
    color: #042330;
    font-weight: 600;
    font-size: 18px;
}

.finished__books--sub-title {
    color: #394547;
}