.search__books--wrapper {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    max-height: 640px;
    margin-left: auto;
    overflow-y: auto;
    padding: 16px;
    position: absolute;
    top: 104px;
    right: 24px;
    background-color: #fff;
    border: 1px solid #e1e7ea;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .14);
}

.search__book--link:last-child {
    border-bottom: none;
}

.search__book--link {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 24px;
    height: 120px;
    border-bottom: 1px solid #e1e7ea;
}

.book__image--wrapper{
    height: 80px;
    width: 80px;
    min-width: 80px;
}

.book__image {
    width: 100%;
    height: 100%;
    display: block;
}

.search__book--title {
    font-size: 16px;
    font-weight: 500;
    color: #032b41;
    margin-bottom: 8px;
}

.search__book--author {
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
    margin-bottom: 8px;
}

.recommended__book--details {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
}

.recommended__book--details-icon-wrapper {
    display: flex;
    width: 16px;
    height: 16px;
}

.recommended__book--details-icon{
    width: 100%;
    height: 100%;
}

.skeleton {   
    background-color: #e0e0e0;
     border-radius: 4px;
     animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {  
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}
